@charset "utf-8";
body{
	margin:0 auto;
	background-color:#3CF;
}
body,html{min-width:768px;}
.yzbg{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	background-image: url(../images/1444899312793.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}
.yzlgbg{
	position: absolute;
	background-color:#FFF;
	opacity:0.9;
	filter:alpha(opacity=90);
	border-radius:5px;
	height:55%;
	width:25%;
	top:15%;
	left:63%
}
.yzlg{
	margin-top:5%;
	padding-top:5%;
	padding-left:14%;
	height:10%
}
.yzlginput{
	width:80%;
	height:100%
}
*{margin:0;padding:0;}
body{font-size:14px;font-family:"Microsoft YaHei";}
ul,li{list-style:none;}

#tab{
	width:100%;
}

#tab .tabList ul li{
	float:left;
	background:#fefefe;
	background: -ms-linear-gradient(top, #fefefe ,#e4e4e4); 
	background:-moz-linear-gradient(top, #fefefe, #e4e4e4);	
	background:-o-linear-gradient(left top,left bottom, from(#fefefe8), to(#e4e4e4));
	background:-webkit-gradient(linear,left top,left bottom, from(#fefefe), to(#e4e4e4));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe',endColorStr='#e4e4e4',gradientType='0'); 
	border-bottom:1px solid #d0d0d0;
	padding:25px 0;
	width:100%;
	height:25px;
	font-size:24px;
	text-align:center;
	position:relative;
}
#tab .tabCon{
	position:absolute;
	left:28%;
	top:120px;
	border-top:none;
	width:100%;
	height:100%;
	overflow:hidden;
}
#tab .tabCon h3{ position:relative;font-weight: normal; line-height: 100%;}
#tab .tabCon div{
	padding:10px;
	position:absolute;
	opacity:0;
	filter:alpha(opacity=0);
}
#tab .tabList li.cur{
	border-bottom:none;
	background:#FFF;
	filter:#FFF ;
}
#tab .tabCon div.cur{
	opacity:1;
	filter:alpha(opacity=100);
}

.appLogin-hint {
margin: 15px auto 0;
width: 190px;
text-align: center;
font-size: 12px;
line-height: 22px;
background: #74B9F4;
background: rgba(117, 187, 245, 0.8);
color: #fff;
border-radius: 20px;
}


.inputbox {
	position:absolute;
	width: 100%;
	z-index: 19;
}
.inputboxp {

	margin-top:50px;
}
.inputboxs {
	margin-top:20px;
}
.u-label {
top:8px;
z-index: 100;
color: #bdbdbd;
font-size: 12px;
font-weight: normal;
cursor: text;
}

.p-label {
position: absolute;
top:78px;
left:30%;
z-index: 100;
color: #bdbdbd;
font-size: 12px;
font-weight: normal;
cursor: text;
}


input {
margin: 0em;
font: -webkit-small-control;
color: initial;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: start;
}

.j-inputtext{	        
    width:40%;
    height:25px;
    line-height:25px;
}
.y-inputtext{	        
    width:20%;
    height:25px;
    line-height:25px;
}

.u-loginbtn {
	height: 38px;
	line-height: 38px;
	border:none;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	box-shadow: 0 2px 5px rgba(0,94,21,.3);
	background: url(../images/bg_v3.png) 0 -208px no-repeat;
	cursor: pointer;
	display: inline-block;
	width: 23%;
	text-align: center;
}

.u-loginbtnp {
	height: 38px;
	line-height: 38px;
	color: #5c7a5c;
	font-size: 14px;
	font-weight: 700;
	box-shadow: 0 2px 5px rgba(0,94,21,.3);
	background: url(../images/bg_v3.png) -117px -208px no-repeat;
	cursor: pointer;
	display: inline-block;
	width: 23%;
	text-align: center;
}

.u-loginbtn:hover {
background-position: 0 -256px;
}
.u-loginbtnp:hover {
background-position: -117px -256px;
color:#626262;
}

.u-loginbtn:active {
background-position: 0 -304px;
}
.u-loginbtnp:active {
background-position: -117px -304px;
}

a, a:active, a:hover, a:visited {
text-decoration: none;
outline: none;
}

.u-checkbox {
margin: 3px 0 0 5px;
border: none;
background: url(http://mimg.127.net/index/126/img/2013/bg_v3.png) -40px -160px no-repeat;
cursor: pointer;
color: #999;
font-size: 12px;
}

.u-checkbox .un-login {
width: 13px;
height: 13px;
}

.forgetpwd {
height: 14px;
padding: 2px 0 0 77px;
line-height: 14px;
font-size: 12px;
color: #848585;
float: right;
text-decoration: none;
cursor: pointer;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #d1d1d1;  
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #d1d1d1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #d1d1d1;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #d1d1d1;
}
	/* CSS Document */
